<div class ="ctbio">
  <mat-toolbar color= "DarkGray" style ="height: 30px;">
    <b>Cooling Tower Biocide Feed (Timed Feed Per Application)</b>
   </mat-toolbar><br/>
   <div class = "location">
<mat-form-field appearance="outline">
  <mat-label>Calculator Input Type (Regular/ Manual)</mat-label>
  <mat-select >
  <mat-option routerLink="/ct-bio-manual"value="v1">Manual Input</mat-option>
  <mat-option routerLink="/ct-bio" value="v2">Regular Input</mat-option>
  </mat-select>
  </mat-form-field><br>
</div>
</div>